<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>signup</title>
    </head>
    <body>
        <h1>Sign Up Page</h1>
        <form action="/api/user/signup" method="post">
            email: <input type="text" name="email"> <br>
            password: <input type="password" name="password"> <br>
            username: <input type="text" name="username"> <br>
            phone: <input type = "text" name = "phone"> <br>
            <input type="submit" value="SignUp">
        </form>
    </body>
</html>