<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/homepage.css", rel="stylesheet">
    <link href="/css/menu.css", rel="stylesheet">
    <title>HomePage</title>
</head>
<body>
    <div class = "header">
        <h1>&nbsp;&nbsp;Project</h1>
        <li><a href = "/signup" id = signup>Sign<br>Up</a></li>
        <li><a href = "/login" id = login>Login</a></li>
    </div>

    <div class= "menu"> 
        <ul>
            <li><a href = "/" id = home>Home</a></li>
            <li><a href = "/board" id = board>Board</a></li>
            <li><a href = "/about" id = about>About</a></li>
        </ul>
    </div>
</body>
</html>